<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<context:component-scan base-package="com.cisco" />
	<task:scheduled-tasks>
		<task:scheduled ref="scheduleJob" method="reportCurrentTime" fixed-delay="5000" />
	</task:scheduled-tasks>
	<beans profile="prod">
	    	<context:property-placeholder location="classpath:prod.properties" />
	</beans>
	<beans profile="loc">
	    	<context:property-placeholder location="classpath:local.properties" />
	</beans>
</beans>