<beans xmlns="http://www.springframework.org/schema/beans"
    	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:util="http://www.springframework.org/schema/util" xmlns:cache="http://www.springframework.org/schema/cache"
		xmlns:p="http://www.springframework.org/schema/p" 
		xmlns:task="http://www.springframework.org/schema/task"
		xsi:schemaLocation="
	       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
	       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd">
    	<bean id="instance" class="com.cisco.common.Instance"/>
    	<bean id="queryService" class="com.cisco.sfdc.service.SalesforceQueryServiceImpl"/>
    	<bean id="configFileHandler" class="com.cisco.sfdc.handler.SalesforceBulkAPIConfigFileHandlerImpl"/>
    	<beans profile="prod">
	    	<context:property-placeholder location="classpath:prod.properties" />
		</beans>
		<beans profile="loc">
	    	<context:property-placeholder location="classpath:local.properties" />
	  	</beans>
</beans>